.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.dialog-edit-wrap {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 255, 0.2),
    rgba(0, 0, 0, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-title {
  padding-top: 10px;
}

.custom-icon {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

.date-form {
  margin-right: 10px;
}

.time-form {
  margin-left: 10px;
}

.form-buttons {
  padding-bottom: 20px;
  margin-left: 15px;
}
