<div class="dialog-edit-wrap">
  <div class="header-edit">
    <h1 class="edit-title" style="color: #0d80bf" mat-dialog-title>Editar Live</h1>
    <img class="custom-icon" src="assets/icons/gremio.svg" alt="Gremio Logo">
  </div>
  <div mat-dialog-content>
    <form class="example-edit" [formGroup]="liveForm">
      <mat-form-field class="example-full-width">
        <mat-label>Nome da Live</mat-label>
        <input matInput formControlName="liveName" name="liveName">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Nome do Canal</mat-label>
        <input matInput formControlName="channelName" name="channelName">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Link Completo</mat-label>
        <input matInput formControlName="liveLink" name="liveLink">
      </mat-form-field>

      <div fxLayout="row wrap">
        <div [fxFlex]="40" fxFill fxLayoutAlign="start center" class="date-form">
          <mat-form-field class="example-full-width">
            <mat-label>Data da Live</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="liveDate" name="liveDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div></div>
        <div [fxFlex]="40" fxFill fxLayoutAlign="start center" class="time-form">
          <mat-form-field class="example-full-width">
            <mat-label>Horário da Live</mat-label>
            <input matInput type="time" formControlName="liveTime" name="liveTime" #time>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-raised-button style="background-color:#0d80bf;" (click)="saveChanges()">Salvar</button>
</div>