<div class="page-wrapper">
  <div class="image-wrapper">
    <mat-toolbar>
      <mat-toolbar-row class="titleHeader">
        <span class="title-container">
          <span class="home-title">Lives do <span class="g">G</span><span class="r">r</span><span
              class="e">ê</span><span class="m">m</span><span class="i">i</span><span class="o">o</span> <img
              class="custom-icon" src="assets/icons/gremio.svg" alt="Gremio Logo">
          </span>
        </span>
        <span class="example-spacer"></span>
        <button mat-raised-button><mat-icon>add</mat-icon>Live</button>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-live-list></app-live-list>
  </div>
</div>